---
import BaseLayout from "@/layouts/BaseLayout.astro"
import BucketConfigDialog from "@/components/BucketConfigDialog"
import DziConfigDialog from "@/components/DziConfigDialog"
import OpenSeaDragonViewer from "@/components/OpenSeaDragonViewer"
import { dziVisConfig } from "@/configStore"
import { t } from "i18n:astro"

const precision = dziVisConfig.get().precision
---

<BaseLayout title={t("title")} isHomePage>
	<div class="flex h-fit flex-col justify-between gap-y-2 px-4 py-2 text-sm sm:flex-row sm:items-center sm:text-base">
		<span class="position-info">
			{`x:${(0.0).toFixed(precision)}, y:${(0).toFixed(precision)}`}
		</span>
		<div class="flex flex-row items-center justify-start gap-x-2">
			<DziConfigDialog client:load />
			<BucketConfigDialog client:load />
		</div>
	</div>

	<OpenSeaDragonViewer client:only="react" />
</BaseLayout>
