---

---

<div
	class="prose mx-auto w-full max-w-none pt-6 prose-headings:font-roboto-slab prose-headings:text-foreground prose-h1:text-xl prose-h1:font-bold prose-h2:text-xl prose-h2:font-normal prose-p:text-left prose-p:text-base prose-p:text-foreground prose-a:text-blue-600 prose-ul:list-outside prose-ul:list-disc prose-ul:text-base prose-img:w-full prose-img:max-w-lg prose-img:rounded-none prose-h2:md:text-2xl prose-p:md:text-lg prose-ul:md:text-lg"
>
	<slot />
</div>
