---
import Image from "@samvera/clover-iiif/image"
import type OpenSeadragon from "openseadragon"
---

<div>
	<Image
		src="/images/logmap.dzi"
		isTiledImage
		openSeadragonConfig={{
			id: "img",
			tileSources: "/images/logmap.dzi",
			showRotationControl: false,
			showNavigator: true,
			useCanvas: true,
			navigatorPosition: "BOTTOM_LEFT",
			gestureSettingsMouse: {
				clickToZoom: false,
				dblClickToZoom: false,
			},
		} as OpenSeadragon.Options}
		openSeadragonCallback={(viewer: OpenSeadragon.Viewer) => {
			viewer.addHandler("canvas-click", function (event) {
				// The canvas-click event gives us a position in web coordinates.
				var webPoint = event.position

				// Convert that to viewport coordinates, the lingua franca of OpenSeadragon coordinates.
				var viewportPoint = viewer.viewport.pointFromPixel(webPoint)

				// Convert from viewport coordinates to image coordinates.
				var imagePoint = viewer.viewport.viewportToImageCoordinates(viewportPoint)

				console.log("canvas-click", webPoint, viewportPoint, imagePoint)
			})
		}}
		client:only="react"
	/>
</div>

<!--
<div id="openseadragon1" class="size-full"></div>
<script>
	import OpenSeadragon from "openseadragon"

	var viewer = OpenSeadragon({
		id: "openseadragon1",
		tileSources: "/images/logmap.dzi",
	})
</script> -->
